@charset "utf-8";
/* CSS Document */
body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.imagens_topo{
  float:left;
}

.intro-header {
 background-image: url("https://github.com/ellenkorbes/gama_16092017/raw/master/img/fundo%20topo.png");
}

#redimensionar_hackatan{
  width: 25% !important;
  heigth:auto;
}